:root {
    --clr-primary: #fff;
    --clr-secondary: #04DDB2;
    --clr-dark: #333333;

    --mrgn-header-inline: 2.5rem;

    --fs-heading: 3.5rem;
    --fs-body-text: 1.5rem;
    --body-text-width: 420px;

    --sec-cont-max-width: 1088px;
    --sec-cont-padding: 2rem; /*4rem*/

    --footer-pdng-inln: 1rem;
    --footer-pdng-blk: 1rem;
    --footer-container-pdng-inln: 1.5rem;
    --footer-container-pdng-blk: 3.875rem;
    --footer-max-width: 892px;
    --footer-content-padding: 3.875rem 1.5rem;

    --debug-border: 1px solid red;
}

* {
    box-sizing: inherit;
}

h1,
h2,
p,
ul,
li,
a,
body,
::before,
::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-dark);
}


.btn {
    display: inline-block;

    padding: .9rem 1.5rem;
    
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);

    border-radius: 50px;
}

.spacer {
    height: 80px;
}


/* header */

header {
    position: relative;

    margin-inline: var(--mrgn-header-inline);
    padding-block: 2em;
    display: flex;
    justify-content: flex-end;
    /* desktop */
    /* justify-content: center; */
    align-items: center;
}

.header-container {
    position: fixed;
    width: 100%;
    background-color: var(--clr-primary);

    background-color: hsla(0,0%,100%,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo {
    position: absolute;
    left: 0;
}

.logo svg {
    width: auto;
    height: 21px;
    display: block;
    /* transform: translateY(-2px); */
}

.nav-list {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: #929292;
}

.nav-header,
.download-btn {
    display: none
}

.active {
    color: var(--clr-dark);
}

.download-btn {
    position: absolute;
    right: 0;
}

.ham-menu-button {
    position: absolute;
    right: 0;

    width: 40px;
    height: 40px;

    border-radius: 24px;

    background-color: #EEF0F2;
}

.check {
    width: 40px;
    height: 40px;

    z-index: 2;

    opacity: 0;

    cursor: pointer;
}


.line {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #333333;

    transition: all 300ms;

    z-index: 0;

    pointer-events: none;
}

.line-top {
    top: 30%;
    right: 10px;

    transform-origin: center;
}

.line-middle {
    top: 45%;
    right: 10px;
}

.line-bottom {
    top: 60%;
    right: 10px;

    transform-origin: center;
}

.check:checked ~ .line-middle {
    opacity: 0;
}

.check:checked ~ .line-top {
    transform: rotate(45deg);
    top: 45%;
}

.check:checked ~ .line-bottom {
    transform: rotate(-45deg);
    top: 45%;
}



/* .line::before {
    content: "";

    position: absolute;
    top: -5px;
    width: 20px;
    height: 2px;

    background-color: #333333;
}

.line::after {
    content: "";

    position: absolute;
    top: 5px;
    width: 20px;
    height: 2px;

    background-color: #333333;
} */

/* main */

img {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;

    padding-block: 2.5em;
}

.section-content {
    width: 100%;
    max-width: var(--sec-cont-max-width);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: var(--sec-cont-padding);
}

.heading-highlight {
    margin-bottom: 12px;
    color: var(--clr-secondary);
}

.section-heading {
    font-size: var(--fs-heading);
    line-height: var(--fs-heading);
    text-align: center;
    letter-spacing: -2px;
    margin-bottom: 12px;

}

.section-text {
    max-width: var(--body-text-width);
    margin-bottom: 2.5em;

    font-size: var(--fs-body-text);
    line-height: 1.45;

    text-align: center;
}


.section-2 {
    padding-top: 0;
    padding-bottom: 55px;
}

.section-2 .section-heading {
    max-width: 300px;
    margin-bottom: 32px;
}

.video-container {
    padding-top: 22px;
    
}

.video-content {
    overflow: hidden;
    border-radius: 25px;
}


/* footer */

.icon-footer {
    margin-bottom: 1rem;
}

footer {
    padding-inline: var(--footer-pdng-inln);
    padding-block-end: var(--footer-pdng-blk);
}

.footer-container {
    display: flex;
    flex-direction: column-reverse;

    padding-inline: var(--footer-container-pdng-inln);
    padding-block: var(--footer-container-pdng-blk);
}

.footer-right {
    max-width: 350px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-right.nav {
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;

}

.nav-list-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    padding-inline: 1.5rem;
    list-style: none;
    text-align: center;
}

.nav-item-footer {
    margin-bottom: 1rem;
}

.nav-link-footer {
    text-decoration: none;
    color: var(--clr-dark);
}

.nav-header-footer {
    font-weight: bold;
}

.nav-social-footer {
    display: flex;
    width: 40px;
    height: 40px;
    padding-inline: .3rem;
    padding-top: .4rem;
    margin-right: 1.7rem;


    border-radius: 24px;
    background-color: var(--clr-secondary);
}

@media (max-width: 640px) {
    :root {
        --fs-heading: 2.375rem;
        --fs-body-text: 1.125rem;
    }
}

@media (min-width: 650px) and (max-width: 1200px) {
    :root {
        --mrgn-header-inline: 1.25rem;
        --body-text-width: 550px;
        --sec-cont-max-width: 968px;
        --sec-cont-padding: 4rem;
    }

}

/* media query for ham menu header */
@media (min-width: 800px) {

    header {
        justify-content: center;
    }

    .ham-menu-button {
        display: none;
    }
    
    .nav-header,
    .download-btn {
        display: block
    }
}

@media (min-width: 1200px) {
    body {
        /* color: red; */
    }

    .nav-header,
    .download-btn {
        display: block
    }
}